@tailwind base;
@tailwind components;
@tailwind utilities;

html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

@layer base {
  body {
    @apply bg-rich-black text-gray-200 font-sans antialiased;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-bold tracking-tight text-white;
  }
}

::selection {
  background-color: #6366f1; /* electric-indigo */
  color: #ffffff;
}

/* Custom Scrollbar for Chrome/Safari/Webkit */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0a0a0a; 
}

::-webkit-scrollbar-thumb {
  background: #333; 
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6366f1; 
}


  
  